# ignored folders
datasets/*
# experiments/*
results/*
tb_logger/*
wandb/*
visual/*

*.DS_Store
.idea
SAM_datasets_blur_png_5_2/*
SAM_datasets_blur_png_3x3/*
SAM_datasets_blur_png_5x5/*
SAM_datasets_blur_png_7x7/*
SAM_datasets_blur_png_9x9/*
SAM_datasets_256x256/*
SAM_datasets_blur/*
SAM_datasets_org_size/*
# ignored files
version.py

# ignored files with suffix
*.html
*.gif
*.pth
*.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log

# pyenv
.python-version
